{{define "page"}}
{{template "head" .}}
{{template "sidebar-layout-start" .}}

<h2 class="mb-2">System</h2>
<p class="sub">Systemverwaltung wird in Schritt 10 implementiert.</p>

{{template "sidebar-layout-end" .}}
{{template "foot" .}}
{{end}}
