{{define "page"}}
{{template "head" .}}
{{template "sidebar-layout-start" .}}

<h2 class="mb-2">Tunnel</h2>
<p class="sub">Tunnel-Verwaltung wird in Schritt 9 implementiert.</p>

{{template "sidebar-layout-end" .}}
{{template "foot" .}}
{{end}}
